html, body {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  background-color: black;
  padding: 1rem;
  font-family: monospace;
  color: white;
}

span {
  overflow: auto;
}

textarea {
  outline: none;
}
